*{
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

h3{
  left: auto;
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  /*overflow: hidden;*/
  height: 100vh;
  /*position: absolute;*/
  width: 100%;
  /*backface-visibility: hidden;*/
  /*will-change: overflow;*/
}

a {
  color: #00B7FF;
}

#btn {
	background-color: green;
}

#btn:hover { 
	background-color: blue;
}

#right, #left{
  padding-right: 25px;
	overflow: auto;
  height: 100%;
  /*padding: .5rem;*/
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.upload-bar{
  position: sticky;
  top: 0px;
}

.posts{
  margin-top: 20px;
}

#left::-webkit-scrollbar,
#right::-webkit-scrollbar {
    display: none;
}

.group:hover{
	background-color: #EFEFEF;
}

.active{
  background-color: #EFEFEF;
}

.register{
  height: 30vh;
  width: 25%;
  left: auto;
  right: auto;
}

.form-auth{
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

.box {
  margin-top: 50px;
}

p{
  font-weight: 500;
}

.newGroup{
  padding-bottom: 20px;
}

.delete{
  display: none;
}

.delete:hover{
  background-color: #7895F7;
}

.group:hover .delete{
  display: block;
}