*{
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  display: flex;
  /*overflow: hidden;*/
  height: 100vh;
  /*position: absolute;*/
  width: 100%;
  /*backface-visibility: hidden;*/
  /*will-change: overflow;*/
}

a {
  color: #00B7FF;
}

#btn {
	background-color: green;
}

#btn:hover { 
	background-color: blue;
}

#right, #left{
  padding-right: 25px;
	overflow: auto;
  height: 100%;
  /*padding: .5rem;*/
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

#left::-webkit-scrollbar,
#right::-webkit-scrollbar {
    display: none;
}

.group:hover{
	background-color: #EFEFEF;
}
.group:active{
  background-color: #EFEFEF;
}

.register{
  height: 30vh;
  width: 25%;
  left: auto;
  right: auto;
}

.form-auth{
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

.box {
  margin-top: 50px;
}