<div id="left" ng-show="authenticated" style="width: 25%; float: left">
	<div align="center" ng-show="addMembers">
		<md-content class="md-padding autocomplete" layout="column">
		    <md-contact-chips
		        ng-model="vm.asyncContacts"
		        md-contacts="vm.delayedQuerySearch($query)"
		        md-contact-name="username"
		        md-contact-image="image"
		        md-contact-email="email"
		        md-require-match="true"
		        md-highlight-flags="i"
		        filter-selected="vm.filterSelected"
		        placeholder="Search by username">
		    </md-contact-chips>
		</md-content>
		<md-button class="md-fab md-primary" aria-label="Create" ng-click="addMembers=0; homepage=1;">
        	<md-icon md-svg-src="img/back.svg"></md-icon>
      	</md-button>
		<md-button class="md-fab md-primary" aria-label="Create" ng-click="addName=1; addMembers=0;">
        	<md-icon md-svg-src="img/next.svg"></md-icon>
      	</md-button>
	</div>
	<div align="center" ng-show="addName">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Space Name</label>
			<input type="text" ng-model="groupName"><br>
		</md-input-container>
		<md-button class="md-fab md-primary" aria-label="Create" ng-click="addName=0; addMembers=1;">
        	<md-icon md-svg-src="img/back.svg"></md-icon>
      	</md-button>
		<md-button align="center" class="md-fab md-primary" aria-label="New Group" ng-click="createNewGroup()">
          <md-icon md-svg-src="img/next.svg"></md-icon>
        </md-button>
	</div>
	<div align="center" class="newGroup" ng-show="homepage">
		<md-button class="md-fab md-primary" aria-label="New Group" ng-click="addMembers=1; homepage=0;">
          <md-icon md-svg-src="img/add.svg"></md-icon>
        </md-button>
    </div>
	<div class="group animated" id="{{grp._id}}" ng-class="{active: $parent.selected==grp._id, slideOutLeft: exitId==grp._id}" ng-repeat="grp in groups | orderBy:'latestPost':true " ng-click="loadGroup( grp._id ); $parent.selected=grp._id">
		<div style="width: 7%; margin: 5px;" class="pull-right delete" ng-click="delGroup( grp ); $event.stopPropagation();">
			<img width="100%" src="img/delete.png" 
				onmouseover="this.src='img/delete_hover.png'"
				onmouseout="this.src='img/delete.png'">
		</div>
        <div ng-show="displayNotif( grp._id )" style="width: 12%" class="pull-right" >
			<img width="100%" src="img/chat.png">
		</div>
		<p style="text-transform: uppercase;">{{grp.name}}</p>
		<small ng-repeat="user in grp.users">
			{{user}}
			<small ng-show="!$last">, </small>
		</small>
		<hr>
	</div>
</div>

<div id="right" ng-show="currentGroupId" style="width: 50%; float: left">
		<div class="upload-bar">
			<label align="center" for="myfile" class="uploader">
				<img style="width: 12%; margin-top: 1px;" src="img/add_cross_new_plus_create-512.png">
			</label>
			<input type="file" id="myfile" name="myfile" custom-on-change="uploadFile">
			<md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}" ng-show="showBar"></md-progress-linear>
		</div>
	<div class="posts">
		<div ng-repeat="post in posts | orderBy:'created_at':true ">
			<p>
				{{post.name}}
				<a href="{{post.path}}" class="pull-right" download>Download</a>
			</p>
			<small>{{( post.size/(1024*1024) ) | number:0}} MB</small>
			<small class="pull-right">
			{{post.user}} at {{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
			<hr>
		</div>
	</div>
</div>

<div id="public" style="width: 25%; float: right">
	<h3 align="center">Public Posts</h3>
	<div class="posts">
		<div ng-repeat="post in publicPosts | orderBy:'created_at':true ">
			<p>
				{{post.name}}
				<a href="{{post.path}}" class="pull-right" download>Download</a>
			</p>
			<small>{{( post.size/(1024*1024) ) | number:0}} MB</small>
			<small class="pull-right">
			{{post.user}} at {{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
			<hr>
		</div>
	</div>
</div>