<div id="left" ng-show="authenticated" style="width: 25%; float: left">
	<h3>Spaces</h3>
	<div id="group" class="group" ng-repeat="grp in groups | orderBy:'latestPost':true " ng-click="loadGroup( grp._id )">
		<p>{{grp.name}}</p>
		<small ng-repeat="user in grp.users">{{user}}, </small>
		<hr>
	</div>
</div>

<div id="right" ng-show="currentGroupId" style="width: 75%; float: right">
	<h3>Files</h3>
	<nav class="navbar-fluid navbar-default navbar-fixed">
		<input type="file" id="myfile" name="myfile">
		<md-button class="md-raised md-primary" type="submit" ng-click="uploadFile()">Upload</md-button>
		<md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}" ng-show="showBar"></md-progress-linear>
	</nav>
	<div ng-repeat="post in posts | orderBy:'created_at':true ">
		<p>{{post.name}}</p>
		<a href="{{post.path}}" download>Download</a>
		<small>{{post.size}}</small>
		<small>{{post.user}}</small>
		<small>{{post.user_id}}</small>
		<hr>
	</div>
</div>