<form class="form-auth" ng-submit="register()">
	<h2 align="center">Register</h2>
	<p class="text-warning">{{error_message}}</p>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Username</label>
		<input type="username" ng-model="user.username"><br>
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Password</label>
		<input type="password" ng-model="user.password"><br>
	</md-input-container>
	<div align="center">
		<input type="submit" value="Register" class="btn btn-primary" />
	</div>
</form>
